@import "tailwindcss";

body {
  /* Disable text selection */
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 

  /* Disable the blue tap highlight on buttons and links */
  -webkit-tap-highlight-color: transparent; 
}

/* Allow text selection only inside input fields and textareas */
input, textarea {
  -webkit-user-select: auto;
  user-select: auto;
}